::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    color: #d9d9d9;
    background-color: #212a36;
    margin: 10px 15px;
}

.row {
    margin-bottom: 20px;
}

.row:after, .button-group:after {
    content: "";
    display: table;
    clear: both;
}

.not-allowed:hover {
    cursor: not-allowed !important;
}

.topnav div {
    display: inline-block;
    float: left;
    overflow: visible;
    color: #d9d9d9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 6px 14px;
    border: 1px solid #050709;
    border-radius: 2px;
    background: linear-gradient(to bottom, #2a3142, #171b25);
}

.topnav .selected {
    background: none;
    background-color: #d97223;
    cursor: pointer;
}

.info {
    display: inline-block;
    overflow: visible;
    float: right;
    font-size: 16px;
}

.info a {
    display: inline-block;
    color: #d9d9d9;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

.info i {
    padding: 10px 6px;
}

hr {
    border: 1px solid #c5c5c5;
}

.column {
    float: left;
    border-radius: 6px;
}

.left {
    width: 28%;
    padding: 10px;
    background-color: #3f4757;
}

.right {
    width: 72%;
    padding-left: 25px; 
}

.first-row {
    height: 280px;
    margin-top: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
}

tbody tr:hover {
    background-color: #32394a;
}

th, td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    font-size: 14px;
    font-weight: bold;
}

table i {
    padding-left: 8px;
}

table i:hover {
    cursor: pointer;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.right-align-text {
    text-align: right;
}

.col-05 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-15 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

#scroll-portfolio {
    height: 190px;
    overflow-y: auto;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    padding: 6px 0;
    margin-bottom: 15px;
    scrollbar-width: none;
}

.portfolio th {
    cursor: pointer;
}

.portfolio th, .portfolio td {
    padding: 6px 4px;
}

input {
    width: 150px;
    height: 25px;
    border: 1px solid #b1b1b1;
    border-radius: 2px;
    padding: 0 4px;
}

button {
    color: #d9d9d9;
    font-weight: bold;
    border: 1px solid #050709;
    border-radius: 4px;
    background: linear-gradient(to bottom, #2a3142, #171b25);
    padding: 4px 8px;
    margin-left: 10px;
    outline: none;
}

button i {
    padding-right: 5px;
}

.column button {
    float: right;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group .right-button {
    margin-left: auto;
}

.large-button {
    display: inline-block;
    float: left;
    font-size: 14px;
    background: linear-gradient(to bottom, #2a3142, #171b25);
    border-radius: 6px;
    padding: 15px;
    margin-right: 6px;
}

.large-button:hover {
    background-color: #678686;
    cursor: pointer;
}

#table-title {
    border: 1px solid #373c4b;
    background: linear-gradient(to bottom, #2a3142, #171b25);
    padding: 4px 3px;
    margin-top: 6px;
}

#scroll-holdings {
    height: 116px;
    overflow-y: auto;
    padding-top: 6px;
    margin-bottom: 12px;
    scrollbar-width: none;
}

#transaction-history {
    display: none;
}

#scroll-transactions {
    height: 165px;
    overflow-y: auto;
    padding-top: 6px;
    margin-bottom: 4px;
    scrollbar-width: none;
}

sup i {
    padding-left: 4px;
}

table .up {
    color: #41a800;
}

table .down {
    color: #c41223;
}

.holdings tbody tr:nth-child(even),
.transactions tbody tr:nth-child(even) {
    background-color: #1f1e2c;
}

.holdings tbody tr:hover,
.transactions tbody tr:hover {
    background-color: #131324 !important;
}

.holdings th, .transactions th {
    padding: 4px 4px;
    border-bottom: 1px solid #b1b1b1;
    cursor: pointer;
}

.holdings td {
    padding: 3px 4px;
}

.transactions td {
    padding: 5px 4px;
}

#total-value {
    font-size: 14px;
}

.total-value-up  {
    background-color: #417100;
}

.total-value-down {
    background-color: #781416;
}

.second-row {
    height: 350px;
}

.statistics caption {
    margin-bottom: 15px;
}

.statistics th, td {
    padding: 6px 25px;
}

.statistics th {
    border-bottom: 1px solid #cccccc;
}

.statistics tbody tr:first-child td {
    padding-top: 15px;
}

.statistics th:first-child, .statistics td:first-child {
    border-right: 1px solid #cccccc;
}

.chart text {
    fill: #7f8faf;
}

.chart .chart-title text,
.chart .time-info text {
    font-weight: bold;
    fill: #d9d9d9;
}

.chart .chart-title text {
    font-size: 16px;
}

.chart .range-option rect {
    fill: #171b25;
}

.chart .range-option text {
    cursor: pointer;
}

.chart .range-option text:hover {
    fill: #d97223;
}

.chart .overlay {
    fill: none;
    pointer-events: all;
}

.chart .line {
    fill: none;
    stroke-width: 2px;
    clip-path: url("#clip");
}

.chart .benchmark-line,
.chart .benchmark-tooltip circle {
    stroke: #2980b9;
}

.chart .portfolio-line,
.chart .portfolio-tooltip circle {
    stroke: #a51214;
}

.chart .tooltip circle {
    fill: #d3d3d3;
    stroke-width: 2px;
}

.chart .hover-line {
    stroke: #a4a4a4;
    stroke-width: 1px;
    stroke-dasharray: 3,3;
}

.hover-text {
    position: absolute;
    font-family: monospace, monospace;
    white-space: nowrap;
    border-radius: 8px;
    background-color: #2f3747;
    pointer-events: none;
    padding: 4px;
}

.hover-text .dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 0 5px 1px 8px;
    border-radius: 50%;
}

.hover-text .benchmark-dot {
    background-color: #2980b9;
}

.hover-text .portfolio-dot {
    background-color: #a51214;
}

.chart .area {
    fill: rgba(145, 156, 235, 0.2);
    stroke: #3696cd;
    clip-path: url("#clip");
}

.chart .brushX .extent {
    stroke: #aaaaaa;
    fill: #b4a6b3;
    fill-opacity: 0.2;
    shape-rendering: crispedges;
}

.chart .axis path, 
.chart .axis line, 
.chart .y-grid {
    fill: none;
    stroke: #e7eef4;
    opacity: 0.3;
    shape-rendering: crispedges;
}

.chart .axis-y .tick text {
    text-anchor: end;
}

/*
.chart .axis .axis-x .tick:nth-child(odd) {
    display: none;
}

.chart .axis-y .tick line, .axis-y path {
    display: none;
}
*/

.footer {
    color: #999999;
    padding-bottom: 15px;
}

.footer .copyright {
    display: inline-block;
    float: left;
}

.footer .timestamp {
    display: inline-block;
    float: right;
}

@media (max-width: 800px) {
    .column {
        width: 100%;
    }

    .right {
        padding: 0 10px;
    }
}